<!-- Menú -->
<p-menubar [model]="menuItems" class="custom-menubar">
    <ng-template #start>
        <a href="/" class="flex items-center gap-2">
            <img src="assets/img/groovefinder-logo.png" alt="Logo" class="h-10">
            <span class="text-xl font-semibold hidden md:block">GrooveFinder</span>
        </a>
    </ng-template>

    <!-- <div class="flex items-center gap-2">
        <input type="text" pInputText placeholder="Buscar Groove" class="w-36" />
    </div>
     -->

     
</p-menubar>
