/* .custom-menubar .p-menubar-root-list > .p-menuitem:hover > .p-menuitem-content {
    background-color: var(--primary-color);
    color: white;
}

.custom-menubar .p-menubar-root-list > .p-menuitem:hover i {
    color: white;
} */